---
interface ContentItem {
  to?: string;
  href?: string;
  primary: string;
  secondary?: string;
  body?: string;
}

interface CtaItem {
  to?: string;
  href?: string;
  label: string;
}

interface Props {
  items?: ContentItem[];
  ctas?: CtaItem[];
  class?: string;
}

const { items = [], ctas = [], class: className } = Astro.props;
---

<ul class:list={["list-none px-0 my-0 -ml-1 space-y-4", className]}>
  {items.map((item) => {
    const { primary, secondary, body, to, href } = item;
    const linkHref = to || href;
    const isExternal = Boolean(href);

    return (
      <li class="mx-2 px-5 py-3 pb-4 relative border-0 border-l-4 border-solid border-amber-500 flex flex-col transition hover:bg-amber-400/30 focus-within:border-l-transparent focus-within:ring-4 focus-within:ring-offset-4 focus-within:ring-amber-500">
        <h3 class="text-base my-0 font-bold">
          <a
            href={linkHref}
            target={isExternal ? "_blank" : undefined}
            rel={isExternal ? "noreferrer" : undefined}
            class="text-inherit no-underline focus:outline-hidden"
          >
            <span class="absolute inset-0" aria-hidden="true" />
            <Fragment set:html={primary} />
            {isExternal && (
              <svg aria-hidden="true" class="h-4 ml-1.5 fill-amber-600 opacity-30 inline-block translate-y-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z" clip-rule="evenodd" />
              </svg>
            )}
          </a>
        </h3>
        {secondary && (
          <p class="text-xs my-0 order-first leading-8 font-medium text-teal-800 uppercase tracking-tight">
            {secondary}
          </p>
        )}
        {body && <Fragment set:html={body} />}
      </li>
    );
  })}

  {ctas.map((item, index) => {
    const { to, href, label } = item;
    const linkHref = to || href;
    const isExternal = Boolean(href);

    return (
      <li class:list={["mx-2", index === 0 && "pt-4"]}>
        <a
          href={linkHref}
          target={isExternal ? "_blank" : undefined}
          rel={isExternal ? "noreferrer" : undefined}
          class="w-full no-underline inline-flex items-center justify-between border-2 border-solid border-teal-800 px-4 py-2 text-sm text-teal-900 font-bold shadow-xs hover:bg-amber-400/40 focus:outline-hidden focus:ring-4 focus:ring-teal-500"
        >
          {label}
          {isExternal && (
            <svg aria-hidden="true" class="ml-2 -mr-1 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z" clip-rule="evenodd" />
              <path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z" clip-rule="evenodd" />
            </svg>
          )}
          {to && (
            <svg aria-hidden="true" class="ml-2 -mr-1 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd" />
            </svg>
          )}
        </a>
      </li>
    );
  })}
</ul>
