---
import CtaButton from './CtaButton.astro';

interface Props {
  href?: string;
  to?: string;
  label?: string;
  note?: string;
  noteTitle?: string;
  class?: string;
}

const { href, to, label, note, noteTitle, class: className } = Astro.props;

if (!label || (!href && !to)) {
  // Return nothing if no label or link
}
---

{label && (href || to) && (
  <div class={className}>
    <CtaButton href={href} to={to}>
      {label}
    </CtaButton>

    {noteTitle && (
      <p class="text-xs pl-0.5 font-semibold my-2">{noteTitle}</p>
    )}
    {note && <p class="text-xs pl-0.5 my-2">{note}</p>}
  </div>
)}
