---
import BaseLayout from '../../layouts/BaseLayout.astro';
import SiteHeader from '../../components/SiteHeader.astro';
import PageSection from '../../components/PageSection.astro';
import PageSectionHeader from '../../components/PageSectionHeader.astro';
import Prose from '../../components/Prose.astro';
import CtaSection from '../../components/CtaSection.astro';
import Newsletter from '../../components/Newsletter.astro';

const title = "Beyond Static Generation with Gatsby v4";
const badge = "Gatsby Mini Bootcamp";
const lead = "Learn how and when to use Gatsby's new rendering modes SSR and DSG with real work examples.";
---

<BaseLayout title={title} description={lead}>
  <SiteHeader />
  <main>
    <PageSection component="header">
      <PageSectionHeader
        badge={badge}
        title={title}
        lead={lead}
        hLevel={1}
      />

      <Newsletter
        formKey="version4"
        tagline="Waitlist:"
        message="Sign up to be notified when the Bootcamp is launched"
        cta="Add me to waitlist"
        class="mt-6"
      />
    </PageSection>

    <PageSection>
      <Prose>
        <p><strong>Still confused by the new rendering modes?</strong></p>
        <p>There used to be only one rendering mode: Static Site Generation (SSG).</p>
        <p>With Gatsby v4 we got Server Side Rendering (SSR) and Deffered Static Generation (DSG).</p>
        <p>Learn how and when to use Gatsby's new rendering modes SSR and DSG with real work examples with my upcoming bootcamp.</p>
      </Prose>
    </PageSection>

    <PageSection component="footer">
      <Newsletter
        formKey="version4"
        tagline="Waitlist:"
        message="Sign up to be notified when the Bootcamp is launched"
        cta="Add me to waitlist"
      />
    </PageSection>
  </main>
</BaseLayout>
